
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Friends
  </button>

  <ul class="dropdown-menu">
    <% if friends.empty? %>
      <li>
        <a class="dropdown-item disabled">
          No Friends yet
        </a>
      </li>
      <%else %>
      <%= turbo_frame_tag 'chat_room' do %>

        <% friends.each do |friend| %>
          <li>
              <%= link_to friend.username, chat_path(friend.id), data: { turbo_frame: 'chat'} %>
          </li>
        <% end %>
      <% end %>

    <% end %>
  </ul>
</div>
