
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Friends
  </button>

  <ul class="dropdown-menu">
    <% if friends.empty? %>
      <li>
        <a class="dropdown-item disabled">
          No Friends yet
        </a>
      </li>
      <%else %>
      <%= turbo_frame_tag 'chat_room' do %>
        <div class="chat_room friend__links">
        <% friends.each do |friend| %>
          <li class="d-flex align-items-center">
              <%= link_to friend.username, chat_path(room_finder(friend.id)), data: { turbo_frame: 'chat'}, class: 'friend__link ps-1 pe-3 text-decoration-none' %>
            <div class="position-relative">
                <%= content_tag('span', '', class: sign_in_badget(friend.is_signed_in)) %>
            </div>
          </li>
        <% end %>
      <% end %>
      </div>

    <% end %>
  </ul>
</div>
