  <%#= form_for :post, class: 'post__form d-flex align-items-center' do |form| %>

<!--  <div class="mb-3">-->
    <%#= form.text_area :body%>
<!--  </div>-->

<!--  <div class="mb-3">-->
    <%#= form.submit "Post", class: 'btn btn-primary' %>
<!--  </div>-->
<%# end %>


  <%= form_for(post, url: posts_path, data: { turbo: false }) do |f| %>
      <div class="mb-3">
        <%= f.text_area :body%>
      </div>

      <div class="mb-3">
          <%= f.submit "Post", class: 'btn btn-primary' %>
      </div>
  <% end %>
