
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Invitations</h2>
      <% @users.each do |user| %>
        <p>Invite as a friend:</p>
        <%= button_to user.username, {:controller => "invitations", :action => "create", :friend_id => user.id } , :method=>:post, class: 'btn btn-primary'  %>
      <% end %>
    </div>
    <div class="col-sm">
      <h2>Pending invites</h2>
      <% @pending_invitations.each do |invitation| %>
        <p><%=invitation.user.username %> wants to be your friend:</p>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value=<%= invitation.confirmed %> checked>
          <label class="form-check-label" for="mySwitch">Confirm friendship</label>
        </div>
      <% end %>
    </div>

  </div>
</div>

