
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <% @friends.each do |friend| %>
      <p>
        <%= friend.username %>
      </p>
      <% end %>
    </div>
  </div>
</div>

