<div class="card" style="width: 18rem;" id="<%= dom_id todo %>">
  <div class="card-body">
    <p class="card-text"><%= todo.body %></p>
    <blockquote class="blockquote mb-0">
      <footer class="blockquote-footer text-end">
        <%= link_to todo.creator.username, profile_path(todo.creator), class: 'link-secondary text-decoration-none' %>
      </footer>
    </blockquote>
  </div>
</div>
