<p style="color: green"><%= notice %></p>

<%= render "form", todo: @todo %>

<div id="todos">
  <%= render @todos %>
</div>


<%#= link_to "New todo", new_todo_path %>
<%#= turbo_frame_tag 'new_todo', src: new_todo_path, target: '_top' %>
