<div class="card" style="width: 18rem;" id="<%= dom_id post %>">
  <div class="card-body">
    <p class="card-text"><%= post.body %></p>
    <blockquote class="blockquote mb-0">
      <footer class="blockquote-footer text-end"><%= post.creator.username %></footer>
    </blockquote>
  </div>
</div>
